{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "provenance": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "execution_count": null,
      "metadata": {
        "id": "gx-qpbXzgW4I"
      },
      "outputs": [],
      "source": [
        "<!-- Kanban board -->\n",
        "<div ng-controller=\"kanbanController as kanban\" layout=\"column\" class='kanban' ng-cloak>\n",
        "  <!-- Toolbar -->\n",
        "  <md-toolbar layout=\"row\" class=\"md-whiteframe-2dp\">\n",
        "    <div class=\"md-toolbar-tools\">\n",
        "      <!-- Open left drawer -->\n",
        "      <md-button class=\"md-icon-button\" aria-label=\"Settings\" ng-click='toggleLeft()'>\n",
        "        <md-icon md-svg-icon=\"img/icons/ic_menu_white_24px.svg\"></md-icon>\n",
        "      </md-button>\n",
        "      <h2>\n",
        "        <span ng-bind=\"toolbarTitle\"></span>\n",
        "      </h2>\n",
        "      <span flex></span>\n",
        "      <!-- Options menu -->\n",
        "      <md-menu>\n",
        "        <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "          <md-icon md-svg-icon=\"img/icons/ic_more_vert_white_24px.svg\"></md-icon>\n",
        "        </md-button>\n",
        "        <md-menu-content width=\"4\">\n",
        "          <!-- Logout -->\n",
        "          <md-menu-item>\n",
        "            <md-button ng-click=\"logoutDialog()\">\n",
        "              Close session\n",
        "            </md-button>\n",
        "          </md-menu-item>\n",
        "        </md-menu-content>\n",
        "      </md-menu>\n",
        "    </div>\n",
        "  </md-toolbar>\n",
        "  <md-fab-speed-dial md-open=\"kanban.isOpen\" md-direction=\"{{kanban.selectedDirection}}\"\n",
        "                      ng-class=\"kanban.selectedMode\" class=\"md-fab-bottom-right speed-dial\">\n",
        "    <md-fab-trigger>\n",
        "      <md-button aria-label=\"menu\" class=\"md-fab\">\n",
        "        <md-tooltip md-direction=\"left\" md-visible=\"tooltipVisible\">Create</md-tooltip>\n",
        "        <md-icon md-svg-icon=\"img/icons/ic_add_white_24px.svg\"></md-icon>\n",
        "      </md-button>\n",
        "    </md-fab-trigger>\n",
        "    <md-fab-actions>\n",
        "      <!-- Add new card -->\n",
        "      <md-button aria-label=\"Create card\" class=\"md-fab md-primary md-mini\" ng-click=\"addNewCardDialog($event)\">\n",
        "        <md-tooltip md-direction=\"left\" md-visible=\"tooltipVisible\">Create card</md-tooltip>\n",
        "        <md-icon md-svg-icon=\"img/icons/ic_view_stream_white_24px.svg\"></md-icon>\n",
        "      </md-button>\n",
        "      <!-- Add new board -->\n",
        "      <md-button aria-label=\"Create board\" class=\"md-fab md-primary md-mini\"  ng-click=\"addNewBoardDialog($event)\">\n",
        "        <md-tooltip md-direction=\"left\" md-visible=\"tooltipVisible\">Create board</md-tooltip>\n",
        "        <md-icon md-svg-icon=\"img/icons/ic_view_week_white_24px.svg\"></md-icon>\n",
        "      </md-button>\n",
        "    </md-fab-actions>\n",
        "  </md-fab-speed-dial>\n",
        "  <md-content id=\"kanbanlayout\" layout=\"row\" layout-xs=\"column\">\n",
        "    <!-- Left sidenav -->\n",
        "    <md-sidenav class=\"md-sidenav-left\" md-component-id=\"left\">\n",
        "      <md-toolbar class=\"md-tall md-hue-2\">\n",
        "        <span flex></span>\n",
        "        <div layout=\"column\" class=\"md-toolbar-tools-bottom inset\">\n",
        "          <span></span>\n",
        "          <img src=\"img/ic_launcher.png\" id=\"kanbanlogo\"/>\n",
        "          <div> {{kanban.username}} </div>\n",
        "          <div> {{kanban.email}} </div>\n",
        "        </div>\n",
        "      </md-toolbar>\n",
        "      <md-toolbar class=\"md-theme-light md-whiteframe-2dp\" layout=\"row\">\n",
        "        <div class=\"md-toolbar-tools\" id=\"kanban-boards-label\">\n",
        "          Kanban boards\n",
        "        </div>\n",
        "      </md-toolbar>\n",
        "        <md-list>\n",
        "          <md-list-item class=\"md-2-line\" ng-repeat=\"board in boards\" aria-label=\"Select board\" ng-click='switchBoard(board)'>\n",
        "            <div class=\"md-list-item-text\">\n",
        "              <h3 ng-bind='board.name'></h3>\n",
        "              <p ng-bind='board.description'></p>\n",
        "            </div>\n",
        "            <md-menu>\n",
        "              <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "                <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "              </md-button>\n",
        "              <md-menu-content width=\"4\">\n",
        "                <md-menu-item><md-button ng-click=\"editBoardNameDialog($event, $index, board)\">Edit name</md-button></md-menu-item>\n",
        "                <md-menu-item><md-button ng-click=\"editBoardDescriptionDialog($event, $index, board)\">Edit description</md-button></md-menu-item>\n",
        "                <md-menu-item><md-button ng-click=\"deleteBoardDialog($index, board)\">Delete board</md-button></md-menu-item>\n",
        "              </md-menu-content>\n",
        "            </md-menu>\n",
        "            <md-divider ng-if=\"!$last\"></md-divider>\n",
        "          </md-list-item>\n",
        "        </md-list>\n",
        "    </md-sidenav>\n",
        "    <!-- Ready cards -->\n",
        "    <div flex-gt-xs=\"25\" class='ready'>\n",
        "      <md-whiteframe class=\"md-whiteframe-1dp\" layout layout-align=\"center center\" id='ready-title'>\n",
        "        <h3>To do</h3>\n",
        "      </md-whiteframe>\n",
        "      <md-list class='list kanban-list' dragula=\"'first-bag'\" dragula-model='readyCards'>\n",
        "        <md-card layout=\"row\" class='ready-card' ng-repeat='card in readyCards'>\n",
        "          <md-card-content ng-bind='card.content'></md-card-content>\n",
        "          <span flex></span>\n",
        "          <md-menu>\n",
        "            <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "              <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "            </md-button>\n",
        "            <md-menu-content width=\"4\">\n",
        "              <md-menu-item><md-button ng-click=\"editCardDialog($event, $index, card)\">Edit card</md-button></md-menu-item>\n",
        "              <md-menu-item><md-button ng-click=\"deleteCardDialog($index, card)\">Delete card</md-button></md-menu-item>\n",
        "            </md-menu-content>\n",
        "          </md-menu>\n",
        "        </md-card>\n",
        "      </md-list>\n",
        "    </div>\n",
        "    <!-- In progress cards -->\n",
        "    <div flex-gt-xs=\"25\" class='inprogress'>\n",
        "      <md-whiteframe class=\"md-whiteframe-1dp\" layout layout-align=\"center center\" id='inprogress-title'>\n",
        "        <h3>In progress</h3>\n",
        "      </md-whiteframe>\n",
        "      <md-list class='list kanban-list' dragula=\"'first-bag'\" dragula-model='inprogressCards'>\n",
        "        <md-card layout=\"row\" class='inprogress-card' ng-repeat='card in inprogressCards'>\n",
        "          <md-card-content ng-bind='card.content'></md-card-content>\n",
        "          <span flex></span>\n",
        "          <md-menu>\n",
        "            <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "              <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "            </md-button>\n",
        "            <md-menu-content width=\"4\">\n",
        "              <md-menu-item><md-button ng-click=\"editCardDialog($event, $index, card)\">Edit card</md-button></md-menu-item>\n",
        "              <md-menu-item><md-button ng-click=\"deleteCardDialog($index, card)\">Delete card</md-button></md-menu-item>\n",
        "            </md-menu-content>\n",
        "          </md-menu>\n",
        "        </md-card>\n",
        "      </md-list>\n",
        "    </div>\n",
        "    <!-- Paused cards -->\n",
        "    <div flex-gt-xs=\"25\" class='paused'>\n",
        "      <md-whiteframe class=\"md-whiteframe-1dp\" layout layout-align=\"center center\" id='paused-title'>\n",
        "        <h3>Paused</h3>\n",
        "      </md-whiteframe>\n",
        "      <md-list class='list kanban-list' dragula=\"'first-bag'\" dragula-model='pausedCards'>\n",
        "        <md-card layout=\"row\" class='paused-card' ng-repeat='card in pausedCards'>\n",
        "          <md-card-content ng-bind='card.content'></md-card-content>\n",
        "          <span flex></span>\n",
        "          <md-menu>\n",
        "            <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "              <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "            </md-button>\n",
        "            <md-menu-content width=\"4\">\n",
        "              <md-menu-item><md-button ng-click=\"editCardDialog($event, $index, card)\">Edit card</md-button></md-menu-item>\n",
        "              <md-menu-item><md-button ng-click=\"deleteCardDialog($index, card)\">Delete card</md-button></md-menu-item>\n",
        "            </md-menu-content>\n",
        "          </md-menu>\n",
        "        </md-card>\n",
        "      </md-list>\n",
        "    </div>\n",
        "    <!-- Testing cards -->\n",
        "    <div flex-gt-xs=\"25\" class='testing'>\n",
        "      <md-whiteframe class=\"md-whiteframe-1dp\" layout layout-align=\"center center\" id='testing-title'>\n",
        "        <h3>Testing</h3>\n",
        "      </md-whiteframe>\n",
        "      <md-list class='list kanban-list' dragula=\"'first-bag'\" dragula-model='testingCards'>\n",
        "        <md-card layout=\"row\" class='testing-card' ng-repeat='card in testingCards'>\n",
        "          <md-card-content ng-bind='card.content'></md-card-content>\n",
        "          <span flex></span>\n",
        "          <md-menu>\n",
        "            <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "              <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "            </md-button>\n",
        "            <md-menu-content width=\"4\">\n",
        "              <md-menu-item><md-button ng-click=\"editCardDialog($event, $index, card)\">Edit card</md-button></md-menu-item>\n",
        "              <md-menu-item><md-button ng-click=\"deleteCardDialog($index, card)\">Delete card</md-button></md-menu-item>\n",
        "            </md-menu-content>\n",
        "          </md-menu>\n",
        "        </md-card>\n",
        "      </md-list>\n",
        "    </div>\n",
        "    <!-- Done cards -->\n",
        "    <div flex-gt-xs=\"25\" class='done'>\n",
        "      <md-whiteframe class=\"md-whiteframe-1dp\" layout layout-align=\"center center\" id='done-title'>\n",
        "        <h3>Done</h3>\n",
        "      </md-whiteframe>\n",
        "      <md-list class='list kanban-list' dragula=\"'first-bag'\" dragula-model='doneCards'>\n",
        "        <md-card layout=\"row\" class='done-card' ng-repeat='card in doneCards'>\n",
        "          <md-card-content ng-bind='card.content'></md-card-content>\n",
        "          <span flex></span>\n",
        "          <md-menu>\n",
        "            <md-button class=\"md-icon-button\" aria-label=\"More\" ng-click=\"$mdOpenMenu($event)\">\n",
        "              <md-icon md-svg-icon=\"img/icons/ic_more_vert_grey_24px.svg\"></md-icon>\n",
        "            </md-button>\n",
        "            <md-menu-content width=\"4\">\n",
        "              <md-menu-item><md-button ng-click=\"editCardDialog($event, $index, card)\">Edit card</md-button></md-menu-item>\n",
        "              <md-menu-item><md-button ng-click=\"deleteCardDialog($index, card)\">Delete card</md-button></md-menu-item>\n",
        "            </md-menu-content>\n",
        "          </md-menu>\n",
        "        </md-card>\n",
        "      </md-list>\n",
        "    </div>\n",
        "  </md-content>\n",
        "</div>"
      ]
    }
  ]
}